{% extends 'kijin-apps/base.html' %}
{% load static %}

{% block header-head %}
<!-- <title>東方キャラクターネットワーク図</title> -->
<title>ネットワーク図</title>
<meta name="description" content="東方Projectのpixiv上のキャラクターを相関図">
<!-- <meta name="keywords"> -->
{% endblock %}

{% block header-tail %}
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<link rel="stylesheet" href="{% static 'th_pixiv_network/css/style.css' %}">
{% endblock %}

{% block content %}
<article>
<section>
    <h1>
        <!-- 東方Projectキャラクターネットワーク図 -->
        ネットワーク図
    </h1>
    <p>
        <!-- pixiv上の東方Projectのキャラクターが二人以上描かれたイラストをネットワークとして描画します。 -->
        ネットワークとして描画します。
        <br>
        最初の表示に時間が掛かる場合があります。
        <!-- <a href="">(詳細)</a> -->
        <br>
        例
        <br>
    </p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        {{ threshold|floatformat:3 }}
    </form>

    <div id="th-pxv-network"></div>
    <div id="config"></div>

    <script type="text/javascript">
        // create an array with nodes
        var nodes_vis = new vis.DataSet({{ nodes|safe }});
        // create an array with edges
        var edges_vis = new vis.DataSet({{ edges|safe }});

        // create a network
        var container = document.getElementById('th-pxv-network');
        
        // provide the data in the vis format
        var data = {
            nodes: nodes_vis,
            edges: edges_vis
        };

        var options = {
            physics:{
                enabled: true,
                stabilization: false,
                solver: "repulsion",
                barnesHut: {
                    centralGravity: 0.6,
                    springLength: 150,
                    springConstant: 0.01,
                },
                repulsion:{
                    centralGravity: 0.3,
                    springLength: 200,
                    springConstant: 0.01,
                }
            },

            // configure: {
            //         filter: function (option, path) {
            //             if (path.indexOf('physics') !== -1) {
            //                 return true;
            //             }
            //             if (path.indexOf('smooth') !== -1 || option === 'smooth') {
            //                 return true;
            //             }
            //             return false;
            //         },
            //         container: document.getElementById('config')
            //     }
        };
    
        // initialize network
        var network = new vis.Network(container, data, options);
    </script>

    <p>
        <!-- <div style="background-color:#CCC; padding : 30px 50px;"> -->
        <label for="customRange3" class="form-label">
            辺の表示閾値を変更できます(0.01-1.0)。小さくすると表示する辺(矢印)の数が増えますが、処理が重くなります
        </label>
        <br>
        <input type="range" min="0.00" max="2.0" step="0.01" id="customRange">
        閾値: <span id="value">0.100</span>

        <script type="text/javascript">
            var elem = document.getElementById('customRange');
            var target = document.getElementById('value');
            var rangeValue = function (elem, target) {
            return function(evt){
                var val = elem.value;
                target.innerHTML = (10**val /100).toFixed(3)
            }
            }
            elem.addEventListener('input', rangeValue(elem, target));
        </script>
        <!-- </div> -->
    </p>

</section>
</article>
{% endblock %}