{% extends 'kijin-apps/base.html' %}
{% load static %}

{% block header-head %}
<title>東方キャラクターネットワーク図</title>
<meta name="description" content="東方Projectのpixiv上のキャラクターを相関図">
<!-- <meta name="keywords"> -->
{% endblock %}

{% block header-tail %}
<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<link rel="stylesheet" href="{% static 'th_pixiv_network/css/style.css' %}">
{% endblock %}

{% block content %}
<article>
<section>
    <h1>
        東方キャラクターネットワーク図
    </h1>
    <p>
        pixiv上の東方Projectのキャラクターが二人以上描かれたイラストをネットワークとして描画します。
        <!-- <a href="">(詳細)</a> -->
        <br>
        例
        <br>
    </p>

    <script type="text/javascript">
        // create an array with nodes
        var n = `{{ nodes|safe }}`
        var nodes = new vis.DataSet(n);
    
        // create an array with edges
        var e = `{{ edges|safe }}`
        var edges = new vis.DataSet(e);
    
        // create a network
        var container = document.getElementById('th-pxv-network');
    
        // provide the data in the vis format
        var data = {
            nodes: nodes,
            edges: edges
        };
        var options = {};
    
        // initialize your network!
        var network = new vis.Network(container, data, options);
    </script>
</section>
</article>
{% endblock %}