@media screen and (min-width:768px) {
    #network {
        height: 768px;
        border: 1px solid lightgray;
    }
}
@media screen and (max-width:767px) {
    #network {
        height: 576px;
        border: 1px solid lightgray;
    }
}
@media screen and (max-width:575px) {
    #network {
        height: 480px;
        border: 1px solid lightgray;
    }
}
@media screen and (max-width: 480px) {
    #network {
        height: 300px;
        border: 1px solid lightgray;
    }
}