@media screen and (min-width:750) {
    #network {
        width: 750px;
        height: 750px;
        border: 1px solid lightgray;
    }
}
@media screen and (max-width:600px) {
    #network {
        width: 480px;
        height: 480px;
        border: 1px solid lightgray;
    }
}
@media screen and (max-width: 480px) {
    #network {
        width: 300px;
        height: 300px;
        border: 1px solid lightgray;
    }
}