:root {
    --main-bg-color: #1f63e2;
  }

header{
    background-color: var(--main-bg-color);
    margin-top: 0;
    margin-bottom: 10pt;
    padding: 10px 10px 10px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active{
    color: #ffffff;
    /* font-size: 24pt; */
    text-decoration: none;
}

.header-text{
    color: #ffffff;
    /* font-size: 24pt; */
    text-decoration: none;
}

footer{
    background-color: var(--main-bg-color);
    margin-bottom: 0;
    padding: 2px 0px 20px 0px;
    text-align: center;
}

.footer-text{
    color: #ffffff;
    /* font-size: 10pt; */
    text-decoration: none;
    font-family: sans-serif;
};

.content{
    margin-left: 40px;
}

h1, h2, h3, h4{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.date{
    color: #828282;
}

.save{
    float: right;
}
.post-form textarea, .post-form input{
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited{
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

