{% extends 'kijin-apps/base.html' %}

{% block header-head %}
<title>置き場</title>
<meta name="description" content="制作物一覧です">
<meta name="keywords" content="機械学習">
{% endblock %}

{% block header-tail %}
{% endblock %}

{% block content %}
<!----- main ----->
<article>
<section>
<h1>一覧</h1>
<ul>
    <li>
        <a href="https://seika1212.hatenablog.com/">ブログ</a>
        <p>
            ブログです。
        </p>
    </li>
    <li>
        <a href="/classifier">東方のキャラクター画像識別器</a>
        <p>
            作成した識別器です。<br>
            東方Projectのキャラクターが描かれた画像をアップロードするとどのキャラクターの画像かを識別します。
        </p>
    </li>
    <li>
        <a href="/th_pixiv_network">東方Projectキャラクターネットワーク図</a>
        <p>
            pixiv上に投稿された東方Projectのキャラクターが二人以上描かれたイラストを集計し、どのキャラクターが一緒に描かれているかをネットワークとして描画します。
        </p>
    </li>
</ul>
</section>
</article>
<!----- /main ----->
{% endblock %}